{% extends 'base.html.twig' %}

{# @var array todoList #}

{% block title %}about fabien{% endblock %}
{% block description %}Resume, stories, everything about me, Fabien Huitelec{% endblock %}

{% block body %}

    <div id="content" class="container">
        {#<div class="row">#}
            {#<div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">#}
                {#<p>Hey there!</p>#}
                {#<p>This <strong>"About me"</strong> landing page and mostly all this website components are a work in progress.</p>#}
                {#<p>I am really into shipping working pieces fast, so everything is functional but there are not much to see, yet.</p>#}
                {#<p>Here is my todo list for the next weeks:</p>#}

                {#{% for todo in todoList %}#}

                {#<div class="checkbox">#}
                    {#<label><input disabled {{ todo.checked }} type="checkbox">{{ todo.item }}</label>#}
                {#</div>#}

                {#{% endfor %}#}

            {#</div>#}
        {#</div>#}

        </div>

    <div class="container" id="what-i-provide-section">
        <div class="row content-header text-center">
            <div class="col-md-12">
                <h1>What I provide</h1>
            </div>
            <div class="col-md-12 subheading">
                A non-exhaustive list of what I can do for you
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-0 col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
                <img src="img/pencil.png" alt="Pencil icon">
                <h3>Web integration</h3>
                <p>Give me a web design and I will make it a up and running website</p>
            </div>
            <div class="col-md-4 col-md-offset-0 col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
                <img src="img/code.png" alt="Code icon">
                <h3>Clear codebase</h3>
                <p>A clean code design is essential for scalability, maintenance and growth</p>
            </div>
            <div class="col-md-4 col-md-offset-0 col-xs-offset-2 col-xs-8 col-xs-offset-2 text-center">
                <img src="img/infrastructure.png" alt="Cubes icon">
                <h3>Infrastructure</h3>
                <p>Containerization and deployment allowing quick feature iterations</p>
            </div>
        </div>
    </div>

    <div class="bg-grid" id="who-i-am-section"><div class="container">
        <div class="row content-header text-center">
            <div class="col-md-12">
                <h1>Who I am</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-xs-offset-1 col-xs-10 col-xs-offset-1">
                <p>
                    Hey, I'm Fabien!
                </p>
                <p>
                    I’m a backend developer at Evaneos, I’m building an app with some friends that
                    we hope will soon become a business and in my spare time I’m a full-stack
                    developer freelance.
                </p>
                <p>I love challenge and learn new things: from new languages and frameworks
                    to new ways to design my code. I’m always taking a close look at the software craftsmanship
                    movement and constantly study on how to write better code, designs and tests.
                </p>
            </div>
        </div>
    </div></div>

    <div class="container" id="whats-next-section">
        <div class="row content-header text-center">
            <div class="col-md-12">
                <h1>What's next</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-offset-0 col-xs-offset-1 col-xs-10 col-xs-offset-1">
                <p>
                    Well, we can <a href="{{ path('contact') }}">get in touch</a>.
                </p>

                Or you can can check out:
                <ul>
                    <li>my <a target="_blank"href="{{ githubLink }}">Github profile</a></li>
                    <li>my <a target="_blank" href="{{ linkedInLink }}">LinkedIn profile</a></li>
                    <li>what are <a target="_blank" href="{{ githubRepoIssuesLink }}">my ideas</a> about this landing page</li>
                </ul>
            </div>
        </div>
    </div>

{% endblock %}
