#who-i-am-section {
  margin-top: 30px;
  padding-top: 20px;

  .content-header.h1 {
    margin: 10px;
  }

  p {
    text-align: justify;
  }
}

#what-i-provide-section {
  .row:nth-child(2) {
    margin-top: 60px;
  }
}

#whats-next-section {
  margin-top: 30px;

  a {
    text-decoration: underline;
  }
}